:root {
  --docs-card-bg-c: #ffffff;
  --docs-card-border-c: #e0e0e0;
  --docs-card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --ifm-heading-color: #2b2b2b;
  --ifm-body-color: #5f6c72;
}

.card {
  background-color: var(--docs-card-bg-c);
  border: 1px solid var(--docs-card-border-c);
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 150ms ease-out, transform 150ms ease-out;
}

.card:hover {
  box-shadow: var(--docs-card-shadow);
  transform: translateY(-2px);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-width: 48px;
  max-height: 48px;
  object-fit: contain;
}

.largeImage {
  max-width: 50%; /* Make the image take the full width of its container */
  height: auto; /* Automatically adjust the height based on the width to maintain aspect ratio */
  max-height: 100px; /* Add a max height to limit the image's size (adjust as needed) */
  object-fit: contain; /* Ensure the image fits within the container without cropping */
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--ifm-heading-color);
}

.cardContent {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--ifm-body-color);
  text-align: left; /* Center content when image is passed */
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardLink:hover {
  text-decoration: none;
}

.large {
  font-size: 1rem;
  padding: 2rem;
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}
